{
    "APP_NAME": "style-vault",
    "LOG_LEVEL": "INFO",
    "JWT_ALGORITHM": "HS256",
    "JWT_EXPIRE_DAYS": 7,
    "GOOGLE_CLIENT_ID": "your-google-client-id.apps.googleusercontent.com",
    "CORS_ORIGINS": [
        "http://localhost:6001",
        "http://localhost:6002"
    ]
}
