@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

/* iframe 容器的稳定性 */
iframe {
  border: 0;
  display: block;
  background: #fff;
}
